@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400&family=VT323&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* root  */

:root {
    --primary-color: #78C475;
    --secondary-color: #F2F2F2;
    --tertiary-color: #131316;
    --cadet-blue: #5F9EA0;
}

/* fonts  */
html{
    font-family: 'Nunito Sans', sans-serif;
}

h1{
    color: var(--cadet-blue);
}

h2{
    color: var(--cadet-blue);
}
